# These owners will be the default owners for everything in the repo. They will be requested to review when someone opens a pull request
* @parag-borah-aera @vikram-paygude-aera @shubham-dhumal-aera @ashish-kodgirwar-aera @archita-joshi-aera